* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url(../assets/images/background.jpg);
  color: white;
}

#page-title {
  text-align: center;
  margin-top: 65px;
  font-size: 100px;
}

#game-container {
  display: flex;
  column-gap: 70px;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: max-content;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  background-color: #2389da;
  margin-top: 50px;
  width: 500px;
  height: 500px;
  transition: all 0.1s ease-in-out;
}

.box {
  border: 1px solid black;
}

.AI-box {
  cursor: crosshair;
}

.AI-box:hover {
  background-color: #6200ff;
}

.details h1 {
  font-size: 60px
}

.details p {
  font-size: 30px;
  text-align: center;
  transition: all 0.1s ease-in-out;
}

.contain-ship {
  background-color: azure;
}

.attacked {
  background-color: #da2323;
  cursor: not-allowed;
}

.attacked:hover {
  background-color: #da2323;
}

.ship-hit {
  background-color: #2354da;
}

.ship-hit::after {
  position: absolute;
  content: "\274c";
  font-size: 40px; 
  color: #FFF;
}

.ship-hit:hover {
  cursor: not-allowed;
  background-color: #2354da;
}



